dist: trusty
sudo: false
language: generic
services:
  - docker

matrix:
  include:
  - env: GHCVER=8.0.2 CABALVER=1.24
  - env: GHCVER=8.0.2 CABALVER=2.0

script:
  - travis_wait 90 bin/ci

notifications:
  slack:
    secure: RGstGwBKvTvIwto24rN40OyLC49in8ka72DvKRQNwHBMAacJZ430g/bkBuxmwpCPQxuLngf7QP2sqhe727zWBTlaVv2C/WO4foNBg17RK7qvb4z/auZ51nQGFohNFQgaGeHxMj++whbr41sR4rW4/F6BHyc/i5Ist1cENj5ts/KDAbh8/6XnCpgUf9Q72JCsd5vuFz0kH+mNHIBCDYwD9YR1W7Ew7/cbvGgt9YhLknR1r5+Noc7ynT345vkW0tJbWB0rbAesSVMOe642qOv/pNB//1JM7UlNqqjWUy6loGH2MjDB15uydGtdnJlQSRJJwuL0vqgonRxbKISZcFw7lsOzMjNB3psUGFJkpwGvZlo38IIgl4udK+ie218EsVNBKULVwllj6s/WMDF6IIyI9fx+Y6Slvp6Ac8E4ldfUcVggYX7daX3irrWS11CLsNovFTRp7rfmJq5qIEos65WRQjj5CJWpwr9u/piMSvf+S2XLisQp0VrVeV2UJkd94mZiIcvGlD0NT2RgoXl9oZ2zHuGIoTxP3U9S/z+NZ8vWioWg5ge0clWHpsbvFHg9Ncw35u0Iak4EDrqDNAVil6Lkt2162uOW1i7QnG+FSOcN28GG7jmukFoU3sNVQJNtrgSX9nZu+wIuiO8+tzMZ9vrxt3fyTffpmBwiTtui1fhzNaU=
